* {
	padding:0;
	margin:0;
	font-family: sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {background: url('../img/fondo.png');}

.main_wrapper {
	width: 100%;
	height: 100%;
}

.submit{
	font-size:20px;
	font-weight:bold;
	width: 3em;
	height: 30px;
	box-shadow:inset 0px 34px 0px -15px rgba(67,227,227,.4);
	background-color: #023859;
	border: 1px solid #17405B;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	text-decoration:none;
	margin-top: 5px;
	margin-left: 5px;
}

.menu_bar {
	display:none;
}

header {
	width: 100%;
}

header nav {
	background:#023859;
	z-index:1000;
	max-width: 1000px;
	width:80%;
	margin:20px auto;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#E6344A;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:#E6344A;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: auto;
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}

.main_container{
	width: 100%;
	height: 60%;
	max-height: 65%;
}

#mecanica{
	text-align: center;
	width: 100%;
}

#img{
	height: 40%;
	width: auto;
}

#imgresp{
	width: 30px;
}

#canvas{
	width: 0px;
	height: 0px;
}

footer {
    text-align: center;
	background-color: #023859;
	color: #ffffff;
	font-size: 12px;
    bottom: 0;
	padding: 2px 0px;
	position: fixed;
	width: 100%;
	height: 20px;
	outline: 1px solid blue;
}

.submit{
	font-size:20px;
	font-weight:bold;
	width: 3em;
	height: 30px;
	box-shadow:inset 0px 34px 0px -15px rgba(67,227,227,.4);
	background-color: #023859;
	border: 1px solid #17405B;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	text-decoration:none;
	margin-top: 5px;
	margin-left: 5px;
}

.submit:hover {
	background-color: rgba(67,227,227,.1);
}

.submit:active {
	position:relative;
	top:8px;
}

.memo{
	font-size:20px;
	font-weight:bold;
	width: 100%;
	height: 100%;
	background-color: #023859;
	border: 1px solid #17405B;
	display: inline-block;
	cursor: pointer;
	color:  #023859;
	text-decoration:none;
	margin-top: 5px;
	margin-left: 5px;
}

.memo:active {
	position:relative;
	top:8px;
}

#titulo{
	text-align: center;
	width: 50%;
	height: 20px;
	float: left;
	background-color: #023859;
	color: #ffffff;
}

#puntos{
	text-align: center;
	width: 50%;
	height: 20px;
	float: right;
	background-color: #023859;
	color: #ffffff;
	font-size:20px;
}

#avisos{
	text-align: center;
	width: 100%;
	background-color: #023859;
	color: #ffffff;
}

#alert{
	text-align: center;
	width: 100%;
	background-color: #eb172c;
	color: #ffffff;
}

.memorama {
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #EDF3FF;
    width: 70%;
	height: 70%;
    margin: 5% auto 0;
    border-radius:5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.memorama th, .memorama td {
	padding:10px 20px 10px;
	text-align:center;
}

.memorama th {
	height: 25%;
	padding-top:12px;
	text-shadow: 1px 1px 1px #EDF3FF;
	background:#00ABB7;
}

.memorama td {
	width: 25%;
	height: 100%;
	border-top:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
}

.memorama tr.odd-row .memorama td {background:#EDF3FF;}
.memorama td.first, .memorama th.first {text-align:left}
.memorama td.last {border-right:none;}

.memorama tr:first-child .memorama th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}
.memorama tr:first-child .memorama th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}
.memorama tr:last-child .memorama td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
.memorama tr:last-child .memorama td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}
